html {
  --ui-color-text: black;
  --ui-color-contrast: white;
  --ui-color-contrast-disabled: #bfbfbf;
  --ui-color-contrast-focus: #d9d9d9;
  --ui-color-border: black;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#filePicker {
  position: fixed;
  z-index: 10;
  top: 5vh;
  left: 5vw;
}

#interfaceButtonRow {
  position: fixed;
  z-index: 10;
  top: 5vh;
  right: 5vw;
  max-width: 45vw;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

button.btn {
  display: inline-block;
  padding: 1vh 1vw;
  color: var(--ui-color-text);
  background-color: var(--ui-color-contrast);
  border: 1px solid var(--ui-color-border);
  border-radius: 1vh;
  font-weight: bold;
}

button.btn:disabled {
  background-color: var(--ui-color-contrast-disabled);
}

button.btn:hover {
  box-shadow: 0 0 3px 2px var(--ui-color-border);
}

button.btn:focus {
  outline: 1px dotted var(--ui-color-border);
  text-decoration: underline;
  background-color: var(--ui-color-contrast-focus);
}

/* Collapse text labels of buttons on smaller widths */
@media (max-width: 576px) {
  button.btn .text-label {
    display: none;
  }
}

#sourceFile {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#audioPlayer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 25vw;
  margin: 0 auto;
  width: 50vw;
}

.app-title {
  position: fixed;
  z-index: 20;
  width: 100%;
  margin: 20vh auto;
  text-align: center;
  color: var(--ui-color-contrast);
}

.app-error {
  position: fixed;
  z-index: 20;
  bottom: 1vw;
  left: 1vw;
  width: 24vw;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-line;
  color: var(--ui-color-contrast);
  background-color: var(--ui-color-text);
}

.app-error button {
  display: block;
  margin: 1vh 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: var(--ui-color-contrast);
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  text-decoration: underline;
}
